<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/w3.css">

<body>

    <div class="w3-container w3-light-gray w3-center">
        <h1>Welcome to esCAPE!</h1>
    </div>

    <div class="w3-container w3-center">
        <h2>1. Select department:</h2>
        <select onchange="buildSelect2()">
            <option>Departments...</option>
            {% for dept in depts %}
                <option value="{{dept}}">{{dept}}</option>
            {% endfor %}
        </select>
        <h2>2. Select course:</h2>
        <select onchange="updateButton()">
            <option>Courses...</option>
        </select>
        <button disabled type="button">Get report</button>
    </div>

    </div>

</body>
</html>
    </div>

    </div>

</body>
</html>
