<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/w3.css">

<style>
    select {
        display: inline-block;
        vertical-align: middle;
    }
</style>

<script type="text/javascript" src="../static/js/script.js"></script>
<body>

    <div class="w3-container w3-light-gray w3-center">
        <h1>Welcome to esCAPE!</h1>
    </div>

    <div class="w3-container w3-center">
        <h2>Select department:
        <select onchange="buildSelect2(this.options[this.selectedIndex].value)">
            <option value="default">Departments...</option>
            {% for dept in depts %}
                <option value="{{dept}}">{{dept}}</option>
            {% endfor %}
        </select>
        and course:
        <select id="select2" disabled onchange="updateButton()">
            <option>Courses...</option>
        </select></h2>
        <button disabled type="button">Get report</button>
    </div>


</body>
</html>

