<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3.css">

<body>

<header>
   <h1>{{code}}</h1>
</header>

<h2>Choose a different course:</h2>
<select onchange="location = this.options[this.selectedIndex].value;">
    <option>Select...</option>
    {% for course in url_dict %}
        <option value="{{url_dict[course]}}">{{course}}</option>
    {% endfor %}
</select>
<div class="w3-row-padding">
    <div class="w3-third">
        <h2>Best Professors</h2>
        <p>{{rank|safe}}</p>
    </div>

    <div class="w3-third">
        <h2>Time Commitment</h2>
        <h3>{{hours}} hours per week</h3>
        <p>{{time_statement}}</p>
    </div>

    <div class="w3-third">
        <h2>Expected Grade</h2>
        <h3>{{expected_grade}}</h3>
        <p>{{grade_statement}}</p>
    </div>

</div>

</body>
</html>
